/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
body {
    font-family: 'Roboto', sans-serif;
}

img {
    width: 100%;
}
/* HEADER */
header {
    padding: 15px 20px 0 20px;
    border-bottom: 1px solid rgba(151,151,151,0.5);;
}

/* Logo */
.logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* privacy */
.privacy,
.account {
    display: flex;
    align-items: center;
}

.privacy span {
    font-size: 22px;
    font-weight: 400;
    color: #5f6368;
    padding-left: 5px;
}

.privacy img {
    width: 75px;
    display: inline-block;
}

/* account */
.account img {
    width: 35px;
    margin-left: 10px;
}

svg {
    color: #5f6368;
    width: 25px;
}

/* Link-bar */
.link-bar {
    padding-top: 10px;
}

.link-bar ul {
    list-style-type: none;
    display: flex;
}

.link-bar li {
    margin-right: 40px;
    color: #5f6368;
    font-size: 15px;
    font-weight: 500;
    line-height: 30px;
}

.link-bar ul li:last-child {
    color: #3367d6;
    border-bottom: 3px solid #3367d6;
}

/* MAIN */
.container {
    width: 75%;
    margin: auto;
    padding: 32px ;
}

h2 {
    color: #3c4043;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    padding-top: 60px;
}

p {
    line-height: 24px;
    padding-top: 20px;
    font-size: 14px;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: #3367d6;
}

i {
    font-size: 10px;
}

main ol{
    line-height: 24px;
    padding-top: 20px;
    font-size: 14px;
    font-weight: 400;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

main h3 {
    color: #3c4043;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    margin: 0;
    padding: 52px 0 0 0;
}

/* change spacing br */
br {
    content:"";
    margin: 7em;
    display: block;
    font-size: 24%;
  }